<nav class="navbar navbar-default lightBlue">
    <div class="container lightBlue">
        <div class="navbar-header lightBlue col-lg-2">
            <h1 class="navbar-brand" id="mongoTitle">Mongo Scraper</h1>
        </div>
        <div class="navbar-header darkerBlue col-lg-1">
            <a href="/">
                <h4 class="navbar-brand" id="home">Home</h4>
            </a>
        </div>
        <div class="navbar-header lightBlue col-lg-9">
            <a href="/savedArticles">
                <h4 class="navbar-brand" id="name">Saved Articles</h4>
            </a>
            <div class=row>
                <button type="button" class="btn btn-danger scraper" id="mainScraper"><h3>SCRAPE NEW ARTICLES!</h3></button>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div id="middleText">
            <div id="giantText">MONGO SCRAPER</div>
            <div id="smallerText">NEW YORK TIMES EDITION</div>
    </div>
    <div class="container" id="articleArea">
        <div id="status">
            <h1>Seems as though thou hasn't any new articles!</h1>
        </div>
        <div id="articlesDisplay">
                {{#each articles}}
                    <div class="row lightBlue space">
                        <div class="col-md-6">
                        <div class="headingDiv"><a href={{this.hyperlink}}><span>{{this.heading}}</span></a></div>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-success saveButton" id={{this.id}} refer={{this.hyperlink}} head={{this.heading}}>SAVE ARTICLE</button>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>