{{!-- Navigatio bar  --}}
<nav class="navbar navbar-default lightBlue">
    <div class="container lightBlue">
        <div class="navbar-header lightBlue col-lg-2">
            <h1 class="navbar-brand white" id="mongoTitle">Mongo Scraper</h1>
        </div>
        <div class="navbar-header darkerBlue col-lg-1">
            <a href="/">
                <h4 class="navbar-brand white" id="home">Home</h4>
            </a>
        </div>
        <div class="navbar-header lightBlue col-lg-9">
            <a href="/savedArticles">
                <h4 class="navbar-brand white" id="name">Saved Articles</h4>
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <div id="middleText">
            <div id="giantText">MONGO SCRAPER</div>
            <div id="smallerText">NEW YORK TIMES EDITION</div>
    </div>
    <div class="container" id="savedArticleArea">
        <div id="savedStatus">
            <h1>No Saved Articles at this Moment in Time!</h1>
        </div>
        {{!-- This section displays the articles --}}
        <div id="savedarticlesDisplay">
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
    
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                            <p>Some text in the modal.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
      
                </div>
            </div>
            {{#each articles}}
                <div class="row lightBlue space">
                    <div class="col-md-6">
                        <div class="saved white" id={{this.id}}><a href={{this.hyperlink}}><span>{{this.heading}}</span></a></div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-info btn-lg btn-secondary createNote" data-toggle="modal" target="#myModal" class={{this.id}}>ARTICLE NOTES</button>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-danger deleteArticle" name={{this.id}}>DELETE FROM SAVED</button>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>